.example-card {
    max-width: 300px;
    cursor: pointer;
}

.example-card:hover {
    background-color: rgb(231, 231, 231);
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

img {
    height: 300px;
    object-fit: contain;
}

.titulo {
    font: 500;
    margin: 0 auto;
}

.preco {
    font-size: 17px;
    color: rgb(28,177,28);
}

.estoque {
    color: red;
}

